@import "mixins";
@import "variables";

@media (min-width: 576px){
  .all-cards {
    padding: 0 5%;
  }
}
@media (min-width: 768px) {
  .all-cards {
    letter-spacing: 0.8em;
    .choice, .right, .total-percent {
      font-size: $big-two;
    }
    .item-card-one {
      border-radius: 20px;
      .text {
        font-size: $bigger;
      }
    }
    .item-card-two {
      border-radius: 20px;
      .text {
        font-size: $bigger;
      }
    }
  }
}
@media (min-width: 1200px){
  .all-cards {
    padding: 0 20%;
  }
}